@media screen and (max-width: 700px) {
  h1.lg-heading,
  h2.lg-heading {
    font-size: 2rem;
  }
  h1.sm-heading,
  h2.sm-heading {
    font-size: 1rem;
  }
  .menu .nav-link {
    font-size: 1rem;
  }
  ul.menu-nav,
  div.menu-branding {
    min-height: 35vh;
  }
  ul.menu-nav.show {
    justify-content: flex-start;
  }
  #about {
    padding: 5px;
  }
  .bio p {
    font-size: 1rem;
  }
  #work {
    padding: 1rem 5px;
  }
  .projects img:hover {
    opacity: 1;
  }
  #banner h5 {
    font-size: 1rem;
  }
  #contact {
    padding: 1rem 5px;
  }
  .boxes div {
    font-size: 1rem;
    padding: 10px;
  }
  .about-info .job {
    max-height: 600px;
  }
  footer {
    margin-top: 1rem;
  }
  .work-nav .nav-link {
    padding: 2px 0;
  }
}
